
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch

# Jetbrain Rider specific files
Plugins/**/RiderLink/*
*.sln.DotSettings.user

# Local test
Content/Local/

# EOS SDK
SDK/